.content.content-fixed.content-auth-alt
  .container.ht-100p.tx-center
    .ht-100p.d-flex.flex-column.align-items-center.justify-content-center
      .wd-70p.wd-sm-250.wd-lg-300.mg-b-15
        = image_tag image_path("error/img20.png"), class: "img-fluid"
      %h1.tx-color-01.tx-24.tx-sm-32.tx-lg-36.mg-xl-b-5 500 Internal Server Error
      %h5.tx-16.tx-sm-18.tx-lg-20.tx-normal.mg-b-20 Oopps. There was an error, please try again later.
      %p.tx-color-03.mg-b-30 The server encountered an internal server error and was unable to complete your request.
      .mg-b-40
        = link_to campaigns_path, id: "user", data: {  confirm: "You will be redirected to home" } do
          %button.btn.btn-sm.pd-x-15.btn-primary.btn-uppercase.mg-l-5 Home
      %span.tx-12.tx-color-03
        Error page concept with laptop vector is created by
        %a{:href => "https://www.freepik.com/free-photos-vectors/business"} freepik (freepik.com)
  / container