-if @board.default_image.video?
  = video_tag(url_from_media(@board.default_image.attachment), class: "bilbo-official-ad", loop: true, preload: "auto", muted: 'muted')
-else
  = image_tag url_from_media(@board.default_image), class: "bilbo-official-ad"
