%a{"data-toggle" => "modal", :href => "#modalNewAd"}
  .col-sm-12.col-md-12.col-xl.pd-b-5.flex-0-f
    .card.card-file.bg-primary.op-7
      .card-file-thumb.bg-primary
        %i.fe.fe-plus.tx-white.tx-70
      .card-body
        %h6.tx-white.text-center= t("ads.new_ad")
      .tx-white.card-footer.text-center= t("ads.new_ad_description")
