%a.col-sm-6.col-md-6.col-lg-4.col-xl-3.mg-b-20.pd-0{"data-toggle" => "modal", :href => "#modalNewAd"}
  .col-12
    .card.card-file.bg-primary.op-7
      .card-file-thumb.bg-primary.new-ad-thumb
        %i.fe.fe-plus.tx-white.tx-70
      .card-body
        %h6.tx-white.text-center= t("ads.new_ad")
      .tx-white.card-footer.text-center= t("ads.new_ad_description")
