<a href="#modalNewAd" data-toggle="modal">
<div class="col-sm-12 col-md-12 col-xl pd-b-5 flex-0-f">
  <div class="card card-file bg-primary op-7">
    <div class="card-file-thumb bg-primary">
          <i class="fe fe-plus tx-white tx-70"></i>
    </div>
    <div class="card-body">
      <h6 class="tx-white text-center"><%= t("ads.new_ad") %></h6>
    </div>
    <div class="tx-white card-footer text-center"><%= t("ads.new_ad_description") %></div>
  </div>
</div>
</a>
