$("#paginator a").hide();
$("#multimediaElements").append('#{escape_javascript render(partial: "shared/loading_ads")}');
setTimeout(function() {
$('#spinner').remove();
$('#multimediaElements').append('#{escape_javascript render(partial: "single_multimedia", collection: @contents, as: :content)}');
setImageLoader();
$('#paginator').html('#{escape_javascript(link_to_next_page @contents, "#{t("content.more_contents")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "upcoming_page")}');
$("#paginator a").show();
initLightbox();
}, 1000);
