= link_to images_board_modal_board_map_photos_path(board_slug: @board.slug), {:remote => true, class: "btn btn-outline-primary bd-dotted wd-50 ht-50 btn-icon mg-r-5 mg-b-5", onclick: "$('#modalBoardPhotos').remove()"} do
  %i.fe.fe-plus{style: "vertical-align: bottom;display: -webkit-inline-box;"}
