<div id="loading" class="">
  <div class="pd-l-20 row row-sm">
  <div class="line"></div>
  <div class="line"></div>  <div class="line"></div>
    <div class="line"></div><div class="line"></div>
    <div class="line"></div>  <div class="line"></div>
    <div class="line"></div>
</div>
</div>
