<div id="loading" class="col-md-9 col-xl-3 order-1 ">
  <div class="pd-l-30 row row-sm">
  <div class="line"></div>
  <div class="line"></div>  <div class="line"></div>
    <div class="line"></div><div class="line"></div>
    <div class="line"></div>  <div class="line"></div>
    <div class="line"></div>
</div>
</div>
