= link_to multimedia_contents_board_campaign_index_path(board_slug: board.slug, board_name: board.name, campaign: @campaign), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn btn-outline-primary bd-dotted wd-50 ht-50 btn-icon mg-r-5"} do
  %i.fe.fe-plus{style: "vertical-align: bottom;display: -webkit-inline-box;"}
