- if board.board_campaigns.find_by(campaign_id: @campaign).present?
  = hidden_field_tag "content_board_campaign_id", board.board_campaigns.find_by(board_id: board.id, campaign_id: @campaign).contents_board_campaign.map{|cc| cc.content_id}, :id => "slug-#{board.slug}"
-else
  = hidden_field_tag "content_board_campaign_id", board.board_campaigns.where(board_id: board.id, campaign_id: @campaign).map{|cc| cc.content_id}, :id => "slug-#{board.slug}"
