%h3= t("campaign.wizard.pick_ad")
%section.mg-t-15
  .col-12
    %table.table
      %thead{style: "background-color: #e5eef4; border-radius: 5px; "}
        %tr
          %th{:scope => "col"}
          %th{:scope => "col", :style => "font-weight: bold;"} Bilbo
          %th{:scope => "col", :style => "font-weight: bold;"} Duración
          %th{:scope => "col", :style => "font-weight: bold;"} Tamaño
          %th{:scope => "col", :style => "font-weight: bold;"} Formatos
          %th{:scope => "col", :style => "font-weight: bold;"} Anuncios
      %tbody#content_inf
= render partial: 'campaigns/wizard/content'
%input#campaign_id.d-none{:readonly => "readonly", :value => "#{@campaign.id}"}/
