%h3= t("campaign.wizard.pick_ad")
%section.mg-t-15
  .col-12
    %table.table.wizard-table
      %thead.bg-ui-01
        %tr.ht-45
          %th{:scope => "col"}
          %th{:scope => "col"} Bilbo
          %th{:scope => "col"} Duración
          %th{:scope => "col"} Tamaño
          %th{:scope => "col"} Formatos
          %th{:scope => "col"} Anuncios
      %tbody#content_inf
= render partial: 'campaigns/wizard/content'
%input#campaign_id.d-none{:readonly => "readonly", :value => "#{@campaign.id}"}/
