%h3= t('campaign.wizard.analize')
%section.mg-t-30
  %form
    %label.d-block= t('campaign.wizard.analize_description')
    %label.d-block= t('campaign.wizard.analize_link_description')
    .input-group.col-12.pd-x-0
      .input-group-prepend
        %span.input-group-text
          %i.fe.fe-globe
      = f.url_field :link, :class => "form-control", placeholder: 'https://website.com/'
