.col-12.col-md-3
    %img{:src => "https://via.placeholder.com/150", class: "ht-200 o-fit-cover wd-100p rounded"}
    %h5.tx-gray-800.mg-t-15 IOS Office Citi Angelópolis - Recepción
    %span.tx-gray-500 $1.10 MXN / spot