<header class="navbar navbar-header navbar-header-fixed">
  <a href="#" id="mainMenuOpen" class="burger-menu">
    <i data-feather="menu"></i>
  </a>
  <div class="navbar-brand">
    <a href="/" class="df-logo"><%= image_tag("https://s3.amazonaws.com/cdn.bilbo.mx/Bilbo-logo.png", class: "wd-80") %></a>
</div>
<!-- navbar-brand -->
<div id="navbarMenu" class="navbar-menu-wrapper">
  <div class="navbar-menu-header">
    <a href="/" class="df-logo"><%= image_tag("https://s3.amazonaws.com/cdn.bilbo.mx/Bilbo-logo.png", class: "wd-80") %></a>
    <a id="mainMenuClose" href="">
      <i data-feather="x"></i>
    </a>
  </div>
  <!-- navbar-menu-header -->
</div>
<div class="navbar-right">
  <%= link_to(t("bilbos.wizard.quote"), boards_path) %>
  <%= link_to(("<i class='fe fe-login pd-r-5 tx-16'></i>" + t('authentication.sign_in')).html_safe, user_session_path, class: "btn") %>
</div>
<!-- navbar-menu-wrapper -->
</header>
