%footer.footer.bg-white
  %div.mg-y-20
    %nav.nav
      %a.nav-link.tx-10{:href => "https://bilbo.freshdesk.com/support/home"}
        Centro de Ayuda
      %a.nav-link.tx-10{:href => "https://bilbo.mx/blog"}
        Blog
      %a.nav-link.tx-10{:href => "https://www.bilbo.mx/terminos-y-condiciones"}
        Términos y Condiciones
      %a.nav-link.tx-10{:href => "https://www.bilbo.mx/contacto"}
        Contacto
  %div
    %nav.nav
      %a.nav-link.tx-18{:href => "https://www.instagram.com/bilbomx/"}
        .fe.fe-instagram
      %a.nav-link.tx-18{:href => "https://www.facebook.com/bilboads"}
        .fe.fe-facebook
      %a.nav-link.tx-18{:href => "https://www.youtube.com/channel/UCcsdM9TKgp6sQnl88EXmL2A"}
        .fe.fe-youtube