<div class="contact-content-sidebar">
  <div class="clearfix mg-b-25">
    <div id="contactAvatar" class="pos-relative float-left">
      <div class="avatar avatar-xl"><span class="avatar-initial rounded-circle bg-gray-700 tx-normal">A</span></div>
    </div>
  </div>
  <h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5">Abigail Johnson</h5>
  <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20">President &amp; CEO - ThemePixels, Inc.</p>
  <nav class="contact-call-nav mg-b-20">
    <a href="#" class="nav-call" data-toggle="tooltip" title="Make a Phone Call"><i class="fe fe-phone"></i></a>
    <a href="#" class="nav-msg" data-toggle="tooltip" title="Send Message"><i class="fe fe-comment"></i></a>
    <a href="#" class="nav-video" data-toggle="tooltip" title="Send Mail"><i class="fe fe-mail"></i></a>
  </nav><!-- contact-call-nav -->

  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Last Activity</label>
  <p class="tx-13 mg-b-0">Gambler, Tea Drinker, Ultimate Piggie, Replacement President of a Major Soft Drink Manufacturer. When I give out candies, I give people the flavour I don't like. </p>

  <hr class="mg-y-20">

  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-15">Options</label>
  <nav class="nav flex-column contact-content-nav mg-b-25">
    <a href="" class="nav-link"><i class="fe fe-share pd-r-5"></i> Share Details</a>
    <a href="" class="nav-link"><i class="fe fe-edit pd-r-5"></i> Edit Role</a>
    <a href="" class="nav-link"><i class="fe fe-disabled pd-r-5"></i> Ban User</a>
  </nav>

</div><!-- contact-content-sidebar -->
