<div class="media">
  <div class="avatar avatar-sm"><%= image_tag user_avatar(user, 500), class: "rounded-circle" %></div>
  <div class="media-body mg-l-10">
    <h6 class="tx-13 mg-b-3"><%= user.name %></h6>
    <span class="tx-12"><%= user.company_name %></span>
  </div><!-- media-body -->
</div><!-- media -->
