<%= render 'shared_user/header', menu: "" %>

<div class="content content-fixed bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="#">My Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Timeline</li>
          </ol>
        </nav>
        <h4 class="mg-b-0">My Timeline</h4>
      </div>
      <div class="search-form mg-t-20 mg-sm-t-0">
        <input type="search" class="form-control" placeholder="Search posts">
        <button class="btn" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- container -->
</div>

<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex">
      <div class="media-body">
        <div class="timeline-group tx-13">
          <div class="timeline-label">Today</div>
          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">Building a Simple User Interface</h6>
              <p>
                <a href="">Elisse Joson</a>
                San Francisco, CA</p>

              <p>In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
          <div class="timeline-item">
            <div class="timeline-time">08:15pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">Blueberry Cheesecake Dessert Recipe</h6>
              <p>
                <a href="">Katherine Lumaad</a>
                Oakland, CA</p>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

              <a href="" class="d-block wd-lg-50p"><img src="../../assets/img/img36.jpg" class="img-fluid" alt=""></a>

              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
          <div class="timeline-item">
            <div class="timeline-time">03:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">Your Finances Don't Have to Be Perfect to Work</h6>
              <p>
                <a href="">Elisse Joson</a>
                San Francisco, CA</p>

              <p>In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes.</p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
          <div class="timeline-label">Yesterday</div>
          <div class="timeline-item">
            <div class="timeline-time">06:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">An Engineer Explains Why You Should Always Order the Larger Pizza</h6>
              <p>
                <a href="">Elisse Joson</a>
                San Francisco, CA</p>

              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

              <div class="row row-xs">
                <div class="col"><img src="../../assets/img/img26.jpg" class="img-fluid" alt=""></div>
                <div class="col"><img src="../../assets/img/img28.jpg" class="img-fluid" alt=""></div>
              </div>

              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
          <div class="timeline-item">
            <div class="timeline-time">01:15pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">The Strange Persistence of First Languages</h6>
              <p>
                <a href="">Elisse Joson</a>
                San Francisco, CA</p>

              <p>In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the world.</p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
          <div class="timeline-label">March 21, 2019</div>
          <div class="timeline-item">
            <div class="timeline-time">11:45am</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">How to Win Your Next Political Argument</h6>
              <p>
                <a href="">Elisse Joson</a>
                San Francisco, CA</p>

              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
              <p>In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the world.</p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Like</a>
                <a href="" class="nav-link">Comment</a>
              </nav>
            </div>
            <!-- timeline-body -->
          </div>
          <!-- timeline-item -->
        </div>
        <!-- timeline-group -->

      </div>
      <!-- media-body -->
      <div class="profile-sidebar mx-wd-300 mg-t-40 mg-lg-t-0 pd-lg-l-25">

        <div class="d-flex align-items-center justify-content-between mg-b-20">
          <h6 class="tx-uppercase tx-semibold mg-b-0">Stories</h6>
          <a href="" class="link-03">Watch All</a>
        </div>
        <ul class="list-unstyled media-list mg-b-15">
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online">
                <span class="avatar-initial rounded-circle bg-dark">S</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-0">
                <a href="" class="link-01">Socrates Itumay</a>
              </h6>
              <span class="tx-12 tx-color-03">2 hours ago</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online">
                <span class="avatar-initial rounded-circle bg-primary">I</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-0">
                <a href="" class="link-01">Isidore Dilao</a>
              </h6>
              <span class="tx-12 tx-color-03">5 hours ago</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-offline"><img src="../../assets/img/img8.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-0">
                <a href="" class="link-01">Angeline Mercado</a>
              </h6>
              <span class="tx-12 tx-color-03">1 day ago</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online">
                <span class="avatar-initial rounded-circle bg-info">K</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-0">
                <a href="" class="link-01">Kirby Avendula</a>
              </h6>
              <span class="tx-12 tx-color-03">2 days ago</span>
            </div>
          </li>
        </ul>
        <a href="" class="link-03 d-inline-flex align-items-center">See more stories
          <i class="icon ion-ios-arrow-down mg-l-5 mg-t-3 tx-12"></i>
        </a>

        <div class="d-flex align-items-center justify-content-between mg-t-40 mg-b-20">
          <h6 class="tx-uppercase tx-semibold mg-b-0">People Also Viewed</h6>
        </div>
        <ul class="list-unstyled media-list mg-b-15">
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online"><img src="../../assets/img/img6.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Roy Recamadas</a>
              </h6>
              <span class="tx-13 tx-color-03">UI/UX Designer &amp; Developer</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-offline"><img src="../../assets/img/img7.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Raymart Serencio</a>
              </h6>
              <span class="tx-13 tx-color-03">Full-Stack Developer</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-offline">
                <span class="avatar-initial rounded-circle bg-teal">R</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Rolando Paloso Jr</a>
              </h6>
              <span class="tx-13 tx-color-03">Licensed Architect</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online">
                <span class="avatar-initial rounded-circle bg-indigo">R</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Robert Restificar</a>
              </h6>
              <span class="tx-13 tx-color-03">Business Analyst</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar avatar-online">
                <span class="avatar-initial rounded-circle bg-gray-600">A</span></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Archie Cantones</a>
              </h6>
              <span class="tx-13 tx-color-03">Senior Software Architect</span>
            </div>
          </li>
        </ul>

        <div class="d-flex align-items-center justify-content-between mg-t-50 mg-b-20">
          <h6 class="tx-uppercase tx-semibold mg-b-0">People You May Know</h6>
        </div>
        <ul class="list-unstyled media-list mg-b-15">
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img src="../../assets/img/img21.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Allan Ray Palban</a>
              </h6>
              <span class="tx-13 tx-color-03">Senior Business Analyst</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img src="../../assets/img/img22.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Rhea Castanares</a>
              </h6>
              <span class="tx-13 tx-color-03">Product Designer</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img src="../../assets/img/img23.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Philip Cesar Galban</a>
              </h6>
              <span class="tx-13 tx-color-03">Executive Assistant</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img src="../../assets/img/img24.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Randy Macapala</a>
              </h6>
              <span class="tx-13 tx-color-03">Business Entrepreneur</span>
            </div>
          </li>
          <li class="media align-items-center">
            <a href="">
              <div class="avatar"><img src="../../assets/img/img25.jpg" class="rounded-circle" alt=""></div>
            </a>
            <div class="media-body pd-l-15">
              <h6 class="mg-b-2">
                <a href="" class="link-01">Abigail Johnson</a>
              </h6>
              <span class="d-block tx-13 tx-color-03">System Administrator</span>
            </div>
          </li>
        </ul>
      </div>
      <!-- profile-sidebar -->
    </div>
    <!-- media -->
  </div>
  <!-- container -->
</div>
