.board-ads {
  display: none;
  overflow: hidden !important;
}

#bilbo-ad {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

#bilbo-integrations {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.bilbo-official-ad {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.bilbo-unique-ad {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.board-ad-inner {
  display: none;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.unique-ad-inner {
  height: 100vh;
  margin: 0 auto;
}

.board-display {
  color: white;
  background-color: black;
}

.minh-100-vh {
  min-height: 100vh !important;
}

.maxh-100-vh {
  max-height: 100vh !important;
}

/* Portrait */
@media (orientation:landscape) {
  .board-ad-inner {
    height: 100vh;
  }
}
/* Landscape */
@media (orientation:portrait) {
  .board-ad-inner {
    width: 100vw;
  }
}
