.start-stream {
  cursor: pointer;
}

.board-ads {
  display: none;
}

.board-ad-inner {
  display: none;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.board-display {
  color: white;
  background-color: black;
}

.minh-100-vh {
  min-height: 100vh !important;
}

.maxh-100-vh {
  max-height: 100vh !important;
}
