.ic-primary {
  color: #0168fa !important;
}
.ic-teal {
  color: #00cccc;
}
.ic-warning {
  color: #ffc107 !important;
}
.ic-pink {
  color: #f10075;
}
.ic-success {
  color: #10b759 !important
}
.fnt-md {
  font-size: 20px !important;
}
.img-inherit {
  width: 170px;
  height: 100%;
  object-fit: cover; }
  @media (max-width: 420px) {
    .img-inherit {
      width: 150px; } }

.bg-white {
  background: white !important;
}

.flex-0-f {
  flex: 0 !important
}

.card-body h6 {
  word-break: break-all;
}

.fm-content-grey {
  background-color: #f8f9fc;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td {
  max-width: 200px;
}

.multi-line-truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.multi-line-truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
