/* #dashboardWizard {
  background-color: #f5f6fa;
} */

.wizard-table {
 border: 1px #e1e5ee solid;
}

.ic-primary {
  color: #0168fa !important;
}

.ic-white {
  color: #ffffff !important;
}

.ic-teal {
  color: #00cccc;
}

.ic-warning {
  color: #ffc107 !important;
}

.ic-pink {
  color: #f10075;
}

.ic-purple {
  color: #6f42c1;
}

.ic-success {
  color: #10b759 !important;
}

.fnt-md {
  font-size: 20px !important;
}

.fnt-25px {
  font-size: 25px !important;
}

.fnt-lg {
  font-size: 35px !important;
}

.fnt-xlg {
  font-size: 70px !important;
}

.file-input-100 {
  right: 14px !important;
  left: 14px !important;
}

.img-inherit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.o-fit-cover {
  object-fit: cover;
}

.obj-fit-scale-down {
  object-fit: scale-down !important;
}

.new-ad-thumb {
  height: 107px !important;
}
@media (max-width: 991.98px) {
  .new-ad-thumb {
    height: 103px !important;
  }
}
@media (max-width: 767.98px) {
  .new-ad-thumb {
    height: 88px !important;
  }
}
.new_ad_hover:hover {
  background-color: #005de1 !important;
}

.bg-white {
  background: white !important;
}

.board-size-preview {
  background-color: rgba(255,0,0,0.2);
}

.unread-notif {
  background-color: ghostwhite;
}

.fit-content {
  height: fit-content;
}

.flex-0-f {
  flex: 0 !important;
}

.fm-content-grey {
  background-color: #f8f9fc;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td {
  max-width: 200px;
}

.wizard_selected_ad {
  border-width: 2px !important;
  border-color: #10b759 !important;
}

.wizard_selected_ad_blue {
  border-width: 2px !important;
  border-color: #1C68F0 !important;
}

.wizard-badge-smart {
  color: #0168f0;
  background-color: #1c68f033;
}

.wizard_selected_ad_primary {
  border-width: 2px !important;
  border-color: #0168fa !important;
}

.selected_card {
  border-width: 2px !important;
  border-color: #10b759 !important;
}

.multi-line-truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.multi-line-truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.pd-pr-10 {
  padding: 10%;
}

/* change summary dropdown */
summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: '\f123';
  font-family: 'Ionicons';
  font-size: 12px;
  font-weight: 400;
  float: left;
  padding-right: 5px;
}

details[open] summary:after {
  content: '\f125';
}

/* traffic light for provider */
@keyframes up-right {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.traffic-light {
  position: absolute;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
/* end traffic light */

/* fix google maps z-indes */
.pac-container {
  z-index: 10000 !important;
}
/*  */

.center_image_vertically {
  display: flex;
  align-items: center;
}

#carouselBoardInfo {
  background: rgba(0, 0, 0, 0.8);
}

#boardTabContent {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(28, 39, 60, 0.02);
}

.wizard-height {
  max-height: 60vh;
  overflow-y: scroll;
}

.mx-ht-350 {
  max-height: 350px;
}

.white-background {
  background-color: #fff;
}

.white-background-f {
  background-color: #fff !important;
}

.btn-primary-custom {
  color: white;
  background-color: #2b78fb;
}
.btn-primary-custom:hover {
  color: white;
}

.btn-secondary-custom {
  color: white;
  background-color: #a5b8d7;
}
.btn-secondary-custom:hover {
  color: white;
}

.material-icon-middle {
  display: inline-flex !important;
  vertical-align: sub !important;
  height: 0em !important;
}
.no-outline-focus:focus {
  outline: none;
}

.bottom-right {
     position: fixed;
     bottom: 10px;
     right: 10px;
}

.bottom-left {
     position: fixed;
     bottom: 10px;
     left: 10px;
}

.card-link-underline {
  color: white;
  font-size: 11px;
  text-decoration-line: underline;
  font-weight: 200;
} .card-link-underline:hover {
  color: white;
}

.hr-border-white {
  opacity: 30%;
  border-bottom: 0.5px solid white !important;
}

.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
  z-index: 9;
}
.btn-group-fab .btn-sub {
  bottom: 0; z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}
.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}

.tx-underline {
  text-decoration: underline;
}

table.dataTable tbody tr:hover {
  background-color: #f7f7f7;
}

.badge-waiting_for_payment {
    color: #fff;
    background-color: #ffc107;
}

.badge-reviewing_payment {
    color: #fff;
    background-color: #00b8d4;
}

.badge-paid {
    color: #fff;
    background-color: #10b759;
}

.badge-rejected {
    color: #fff;
    background-color: #dc3545;
}

.badge-cancelled {
    color: #fff;
    background-color: #7987a1;
}

.mw-200p {
  max-width: 200px;
}

.tx-line-through {
  text-decoration: line-through;
}

.tx-gray-1 {
  color: #484e61;
}

.tx-gray-2 {
  color: #676f8a;
}

.tx-gray-3 {
  color: #acb6c8;
}

.b-r-100{
  border-radius: 100%;
}

/* Animations for pulse */
/* http://tilomitra.github.io/infinite/ */
/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/* Make the element's opacity pulse*/
/* Usage
    .myElement {
        animation: opacityPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
    }
*/
@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
    .myElement {
        animation: alertPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@-webkit-keyframes alertPulse {
    0% {background-color: #9A2727; opacity: 1;}
    50% {opacity: red; opacity: 0.75; }
    100% {opacity: #9A2727; opacity: 1;}
}


/* Make the element rotate infinitely. */
/*
Usage
    .myElement {
        animation: rotating 3s linear infinite;
    }
*/
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.opacityPulse-css {
    animation: opacityPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
}

.introjs-skipbutton {
  float: left;
}

.introjs-donebutton {
  float: left;
}

.mx-ln-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-single-line {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#userCampaignTable td, #userCampaignTable th {
  white-space: nowrap;
}

.dataTables_scrollBody {
  overflow-y: scroll;
}

.m-0-auto {
 margin: 0 auto;
}

.m-bt--20{
  margin: -20px;
}

.carousel-circles-under {
  margin-bottom: -2rem;
}

.carousel-circles > li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
/*placeholder skeleton */

.shimmer_wrapper {
  width: 90%;
  animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.shimmer_comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.shimmer_animate {
   animation : shimmer 2s infinite linear;
   background: linear-gradient(to right, #e5eef4 4%, #edf5f7 25%, #e5eef4 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* Google maps */
.gm-style .gm-style-iw-t::after {
  background: transparent;
  box-shadow: none;
}

.gm-style .gm-style-iw-c {
  background-color: transparent;
  box-shadow: none;
  padding: 0
}

.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style-iw > button {display: none !important;}
/* End google maps */

iframe {
  /* pointer-events: none; */
  border-width: 0px !important;
}

.no-pointer {
  pointer-events: none;
}

a[href="#previous"] {
   background-color: #ACB6C8 !important;
}

/* fix card ordering in wizard */
@media (min-width:768px) {
    .wizard-card-deck > .card
    {
        width: 31%;
        flex-wrap: wrap;
        flex: initial;
    }
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 767px) {
  .btn-xs-mobile {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.25rem;
    }

  .div-buttons-left{
    position: absolute;
    text-align: left !important;
  }

}

.gm-style-iw-t {
  bottom: 10px !important;
}

/* MarkerWithLabel CSS */

@font-face {
  font-family: 'icomoon';
  src:  url('https://content-bilbo.s3.amazonaws.com/statics/assets/fonts/icomoon.eot?pms3ln');
  src:  url('https://content-bilbo.s3.amazonaws.com/statics/assets/fonts/icomoon.eot?pms3ln#iefix') format('embedded-opentype'),
    url('https://content-bilbo.s3.amazonaws.com/statics/assets/fonts/icomoon.ttf?pms3ln') format('truetype'),
    url('https://content-bilbo.s3.amazonaws.com/statics/assets/fonts/icomoon.woff?pms3ln') format('woff'),
    url('https://content-bilbo.s3.amazonaws.com/statics/assets/fonts/icomoon.svg?pms3ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-billboard:before {
  content: "\e900";
  color: #FF5900;
}
.billboard-badge {
  color: #FF5900;
  background-color: #FFEFE6;
}
.icon-horizontal-screen:before {
  content: "\e901";
}
.icon-television:before {
  content: "\e902";
  color: #9F2BD6;
}
.television-badge {
  color: #9F2BD6;
  background-color: #F6EAFB;
}
.icon-vertical-screen:before {
  content: "\e903";
}
.icon-wallboard:before {
  content: "\e904";
  color: #2BD67B;
}
.wallboard-badge {
  color: #2BD67B;
  background-color: #EAFBF2;
}

.mklabel {
  background-color: white;
  opacity: 0.75;
  font-size: 15px;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 1px 3px #333;
  font-weight: 500;
  /* border: 1.5px solid #ACB6C8; */
  /* color: #676F8A; */
  transition: transform .2s;
}

.mklabel_billboard_selected {
  background-color: #FF5900;
  color: white;
}

.mklabel_television_selected {
  background-color: #9F2BD6;
  color: white;
}

.mklabel_wallboard_selected {
  background-color: #2BD67B;
  color: white;
}

.mklabel_selected {
  background-color: #F5F6FA;
  border: 1.5px solid #ACB6C8;
}

.mklabel_smart {
  border: 1px solid #1C68F0;
  transform: scale(1);
	animation: pulse_map_marker 2s infinite;
}

.tx-xl {
  font-size: x-large;
}

.tx-xxl {
  font-size: xx-large;
}

.mklabel_smart_selected {
  background-color: black;
  color: white;
  animation: none !important;
} .mklabel_smart_selected i {
  color: white !important;
}

 .mklabel_hover {
  transform: scale(1.2);
 }

 @keyframes pulse_map_marker {
	0% {
		box-shadow: 0 0 0 0 rgba(28, 104, 240, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(28, 104, 240, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(28, 104, 240, 0);
	}
}


@media (max-width:767px) {
  .invisible-sm {
    visibility: hidden;
  }
}
@media (min-width: 767px) {
  .bd-md-l-0 {
    border-left: 0px;
  }
}


/* End MarkerWithLabel CSS */

.board-sidebar-width{
  width: 40%;
}
.map-left-space {
  left: 40%;
}

@media(min-width: 1400px){
  .board-sidebar-width{
    width: 25%;
  }
  .map-left-space {
    left: 25%;
  }
}
@media(max-width: 768px){
  .board-sidebar-width{
    width: 100%;
  }
  .map-left-space {
    left: 100%;
  }
  .mapToggle {
    display: block !important;
  }
  #selected_boards {
    width: 200px;
    top: -50px;
  }
}
.t-100-f{
  top: 100px !important;
}
.filter-button {
  font-size: 0.8rem !important;
}
.filter-button:hover{
  border: 1px solid #0168fa !important;
  color: #0168fa !important;
}
.filter-button::-ms-expand {
    display: none;
}

[data-form] :checked + label{
  color: #0168fa;
}
.mg-auto-0 {
  margin: auto 0;
}
.hover-gray:hover {
  background-color: #F5F6FA;
}
.cursor-pointer {
  cursor: pointer;
}
[data-single-board]:hover figcaption {
  background-color: rgba(1, 104, 250, 0.7);
  opacity: 100%;
}
.translateX-100p{
  transform: translateX(100%);
}
.translateX-m100p{
  transform: translateX(-100%);
}
.transition-delay{
  transition: all 0.5s;
}
.overflow-visible {
  overflow: visible;
}
.flex-2 {
  flex: 2;
}
.flex-10 {
  flex: 10;
}
#selected_boards {
  border-bottom-left-radius: 0.25rem !important;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-clip {
  overflow-x: clip;
}
/* Borderless class for tables. Use it like .borderless */
.borderless td, .borderless th {
  border: none;
}

.tx-gradient-landing {
  background-image: linear-gradient(60deg, #1C68F0, #A3D6FE);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.badge-orange-light {
  color: #FF610C;
  background-color: #FFDECC;
}

.badge-success-light {
  color: #6ECF9C;
  background-color: #D5F7E5;
}
#dashboardWizard-h-0 {
  display: none;
}
#dashboardWizard > div.actions.clearfix,
#dashboardWizard > div.steps.clearfix {
  flex: 1;
}
#dashboardWizard > div.content.clearfix {
  flex: 30;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5
}

.overflow-y-scroll {
  overflow-y: scroll;
}
/*makes scrollbar visible by default (at first load it doesnt display it, needs to be sccrolled)*/
[board-info] .ps > .ps__rail-x,
[board-info] .ps > .ps__rail-y,
[selected_bilbos_list_view] .ps > .ps__rail-x,
[selected_bilbos_list_view] .ps > .ps__rail-y {
  opacity: 0.6;
}

.rotation-90, .rotation--270{
  width: 100vh !important;
  height: 100vw !important;
  max-width: 100vh !important;
  max-height: 100vw !important;
  transform: translatex(calc(50% - 50%)) translatey(calc(50vh - 50%)) rotate(90deg) !important;
  margin: 0 auto !important;
}

.rotation-180, .rotation--180{
  transform: rotate(180deg) !important;
}

.rotation-270, .rotation--90{
  width: 100vh !important;
  height: 100vw !important;
  max-width: 100vh !important;
  max-height: 100vw !important;
  transform: translatex(calc(50% - 50%)) translatey(calc(50vh - 50%)) rotate(270deg) !important;
  margin: 0 auto !important;
}

.navbar-header a {
  color: black;
}

[aria-expanded='true'] + .tab-arrow {
  transform: rotate(180deg) !important;
}
.hover-white:hover {
  color: white;
}
.hover-background-3B4A6D:hover {
  background: #3B4A6D;
}
.hover-red:hover{
  color: red;
}
.mx-ht-200 {
  max-height: 200px;
}
