%hr
%h5.tx-inverse.mg-t-25.mg-b-25= t("campaign.wizard.date_and_budget")
%p.mg-b-5= t("campaign.wizard.offcanvas.choose_budget_desc")
%a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000060135--cuantas-veces-se-va-a-mostrar-mi-campa%C3%B1a-", target: "_blank"}
  = t("campaign.wizard.offcanvas.how_budget_works")
  %i.fe.fe-arrow-right.valign-middle-f
