%hr
%h5.tx-inverse.mg-t-25.mg-b-25= "3. #{t("campaign.wizard.offcanvas.date_and_per_hour")}"
%p.mg-b-5= t("campaign.wizard.offcanvas.choose_per_hour_desc")
%a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000249027-impresiones-por-hora", target: "_blank"}
  = t("campaign.wizard.offcanvas.how_per_hour_works")
  %i.fe.fe-arrow-right.valign-middle-f
