<footer class="footer">
      <div>
        <span>© 2019 Bilbo </span>
        <span>Created by <a href="http://bilbo.mx/">Bilbo</a></span>
      </div>
      <div>
        <nav class="nav">
          <a href="https://bilbo.mx/terms" class="nav-link">Terms and Conditions</a>
          <a href="https://app.bilbo.mx/help" class="nav-link">Get Help</a>
        </nav>
      </div>
    </footer>
