-(@board_campaigns.size).times do |x|
  %tr
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
    %td
      .shimmer_wrapper
        .shimmer_comment.rounded-10.shimmer_animate#comment1
