.carousel-item{ class: "#{'active' if image_iteration.first?}"}
  = image_tag image.image_url(:large), class: "img-inherit", alt: "No Image"
  -# = link_to image.image_url(:large), class: "glightbox d-block w-100", :data => {group: image.record.id} do
