.d-none
  #boardInfo.col-md-12.col-xl-3.mg-t-10.order-1.d-none
  / card
  %ul#boardTab.nav.nav-tabs.nav-justified.d-none{:role => "tablist"}
    / content filled with js
  %ul.nav.nav-tabs.nav-justified.pd-b-5{:role => "tablist"}
    %li.nav-item
      %select.boardSelect.custom-select.custom-select-blue
        / content filled with js
  #boardTabContent.tab-content.bd.bd-gray-300.bd-t-0.pd-10.rounded
    / content filled with js
  = form_with url: boards_path, method: :get, id: "filter-bilbos",class: "row send-on-change", remote: true do |f|
    .form-group.col-6.col-md-4.col-lg-2
      = f.text_field :location, class: 'form-control rounded', id: "search_autocomplete", placeholder: t('bilbos.search.location'), |
        value: (params[:location].present?)? params[:location] : "" ,                                                               |
        lat: (params[:lat].present?)? params[:lat] : "",                                                                            |
        lng: (params[:lng].present?)? params[:lng] : "",                                                                            |
        rad: (params[:rad].present?)? params[:rad] : ""                                                                             |
      = f.hidden_field :radius, value: params[:radius]
    = f.submit "Enviar", class: "d-none"
#bilbomap.ht-100p


:javascript
  $(document).ready( function() {
      $('body').addClass( 'ht-100p' );
      $('html').addClass( 'ht-100p' );
    } );
