%input#bilboMarkers{:type => "hidden", :value => (user_signed_in? && current_user.role) == :provider ? @project.boards.get_map_markers.to_json : @boards.get_map_markers.to_json}/
#bilbomap.ht-100p

:javascript
  $(document).ready( function() {
      $('body').addClass( 'ht-100p' );
      $('html').addClass( 'ht-100p' );
    } );
