.col-sm-5.col-md-4.col-lg-3.mg-t-10
  .card
    .card-header
      %h6.mg-b-0 Active Campaigns
    / card-header
    .card-body.tx-center
      %h4.tx-normal.tx-rubik.tx-40.tx-spacing--1.mg-b-0 5,931
      %p.tx-12.tx-uppercase.tx-semibold.tx-spacing-1.tx-color-02 Campaigns running
      %hr/
      %p.tx-12.tx-color-03.mg-b-0 Total number of marketing campaigns that are currently running on bilbo.
    / card-body
    .card-footer.bd-t-0.pd-t-0
      %button.btn.btn-sm.btn-block.btn-outline-primary.btn-uppercase.tx-spacing-1 View All
    / card-footer
  / card
