<div class="col-sm-5 col-md-4 col-lg-3 mg-t-10">
  <div class="card">
    <div class="card-header">
      <h6 class="mg-b-0">Active Campaigns</h6>
    </div>
    <!-- card-header -->
    <div class="card-body tx-center">
      <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">5,931</h4>
      <p class="tx-12 tx-uppercase tx-semibold tx-spacing-1 tx-color-02">Campaigns running</p>
      <hr>
      <p class="tx-12 tx-color-03 mg-b-0">Total number of marketing campaigns that are currently running on bilbo.</p>
    </div>
    <!-- card-body -->
    <div class="card-footer bd-t-0 pd-t-0">
      <button class="btn btn-sm btn-block btn-outline-primary btn-uppercase tx-spacing-1">View All</button>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->
</div>
