-if campaign.ad.present?
  -campaign.ad.multimedia.each.with_index do |media, i|
    %div.carousel-item
      -if media.video?
        = link_to url_from_media(media), class: "glightbox" do
          = video_tag(url_from_media(media), size:"600x300", class: "d-block w-100 obj-fit-scale-down", autoplay: true, loop: true, muted: 'muted', style: "object-fit: contain;")
      -else
        = link_to url_from_media(media), class: "glightbox", :data => {type: "image"} do
          = image_tag url_from_media(media), size:"600x300", class: "d-block w-100 obj-fit-scale-down"
