.col-md-6.col-lg-12
  .card
    .card-header.pd-b-0.bd-b-0
      %div
        %h6.mg-b-5
          = t('dashboards.earnings')
        %p.tx-12.tx-color-03.mg-b-0
          = t('bilbos.earnings_description')
    .card-body.pd-lg-25
      .chart-five
        .flot-chart
          = column_chart daily_earnings_chart_path(@board.slug), colors: ["#10b759"]
