<div class="col-md-6 col-lg-4 col-xl-3 mg-t-10 mg-lg-t-0">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h6 class="mg-b-0">Top Providers (Sales)</h6>
      <a href="#" class="tx-13 link-03">View More</a>
    </div>
    <!-- card-header -->
    <div class="card-body pd-lg-25">
      <div class="chart-seven">
        <canvas id="chartDonut"></canvas>
      </div>
    </div>
    <!-- card-body -->
    <div class="card-footer pd-20">
      <div class="col-12 tx-12">
        <div class="d-flex align-items-center">
          <div class="wd-10 ht-10 bg-primary rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10">Televisa</span>
          <span class="tx-rubik mg-l-auto">4,024.52</span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">7.96%
            <i class="icon ion-md-arrow-up"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-teal rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10">RCG</span>
          <span class="tx-rubik mg-l-auto">3,539.23</span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">4.75%
            <i class="icon ion-md-arrow-up"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-warning rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10">TV Azteca</span>
          <span class="tx-rubik mg-l-auto">27,499.4</span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">2.58%
            <i class="icon ion-md-arrow-down"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-pink rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10">Plaza real</span>
          <span class="tx-rubik mg-l-auto">3,022.90</span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">1.69%
            <i class="icon ion-md-arrow-down"></i>
          </span>
        </div>
      </div>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->
</div>
