<div class="col-md-6 col-lg-6 mg-t-10">
  <div class="card">
    <div class="card-header pd-b-0 bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
      <h6 class="mg-b-5">Campaigns count</h6>
      <p class="tx-12 tx-color-03 mg-b-0">last 12 months of marketing cammpaigns created. This number is 1 year back of campaigns creation.
      </p>
    </div>
    <!-- card-header -->
    <div class="card-body pd-sm-20 pd-lg-25">
      <div class="row row-sm">
        <div class="col-sm-5 col-md-12 col-lg-6 col-xl-5">
          <div class="media">
            <div class="wd-40 ht-40 rounded bd bd-2 bd-primary d-flex flex-shrink-0 align-items-center justify-content-center op-6">
              <i class="tx-primary fe fe-bar-chart tx-20"></i>
            </div>
            <div class="media-body mg-l-10">
              <h4 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5">33.50%</h4>
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">Increase rate (from previous month)</p>
            </div>
            <!-- media-body -->
          </div>
          <!-- media -->
        </div>
      </div>
      <!-- row -->

      <div class="chart-eight">
        <div id="chartjsChart1" class="flot-chart"></div>
      </div>
    </div>
    <!-- card-body -->
  </div>
  <!-- card -->
</div>
