= form_with(model: @content, url: create_url_contents_path, method: :post, :html => { :id => "new_content_url", data: { parsley_validate: true } }, remote: true) do |f|
  #modalNewUrl.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h6.modal-title=t("content.new_url")
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.pd-20
          %iframe.no-pointer{:src => "https://via.placeholder.com/458x250?text=Type+link+to+preview", class: "ht-250 wd-100p", :scrolling => "no", id: "iframe-modal"}
          .input-group
            = f.url_field :url, pattern: "https?://.*", class: "form-control", placeholder: "https://www.google.com/"
            .input-group-append
              %button#button-addon2.btn.btn-outline-light{:type => "button", onclick: "preview_iframe('#content_url', '#iframe-modal')"} Preview
        .modal-footer
          %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
          = f.submit t("content.save"), class: "btn btn-primary"
