.carousel-item
  %img.d-block.w-100{alt: "...", src: "https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg"}/
.carousel-item
  %img.d-block.w-100{alt: "...", src: "https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg"}/
.carousel-item
  %img.d-block.w-100{alt: "...", src: "https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg"}/
