#modalCopyCampaign.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "modalToCopyCampaign", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content.tx-14
