.modal-header
  %h6#exampleModalLabel6.modal-title Multimedia
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
    %span{"aria-hidden" => "true"}
.modal-body
  .df-example{"data-label" => "Example"}
    #carouselExample5.carousel.slide.carousel-fade{"data-ride" => "carousel"}
      %ol.carousel-indicators
        - if @objects.present?
          - @objects.each.with_index do |media,i|
            %li{class: "#{'active' if i == 0}", "data-slide-to" => i, "data-target" => "#carouselExample5"}
      .carousel-inner.bg-dark
        - if @objects.present?
          - @objects.each.with_index do |media,i|
            %div{class: "carousel-item #{'active' if i == 0}"}
              = image_tag media, size:"600x300", class: "d-block w-100"
        - else
          .carousel-item.active
            = image_tag image_path("board_placeholder"), size:"600x300", class: "d-block w-100", alt: "No Image"
