$('.loadingio-spinner-pulse-vlx1rsm1qjd').removeClass('d-none');
$("#paginator a").hide();
setTimeout(function() {
$('#ads_body').append('#{escape_javascript render(partial: "ads/overview_card", collection: @ad_upcoming, as: :ad)}');
select_ad();
$('#paginator').html('#{escape_javascript(link_to_next_page @ad_upcoming, "#{t("ads.more_ads")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "ad_upcoming_page")}');
$('.loadingio-spinner-pulse-vlx1rsm1qjd').addClass('d-none');
$("#paginator a").show();
}, 1000);
