.clearfix.mg-b-25
  #contactAvatar.pos-relative.float-left
    .avatar.avatar-xl
      %span.rounded-circle.bg-gray-700.tx-normal= image_tag url_from_media(user_avatar(user, 500)), class: "rounded-circle"
%h5#contactName.tx-18.tx-xl-20.mg-b-5= user.name
%p.tx-13.tx-lg-12.tx-xl-13.tx-color-03.mg-b-20= user.projects.pluck(:name).join(', ')
%nav.contact-call-nav.mg-b-20
  %a.nav-call{"data-toggle" => "tooltip", :href => "#", :title => "Make a Phone Call"}
    %i.fe.fe-phone
  %a.nav-msg{"data-toggle" => "tooltip", :href => "#", :title => "Send Message"}
    %i.fe.fe-comment
  %a.nav-video{"data-toggle" => "tooltip", :href => "#", :title => "Send Mail"}
    %i.fe.fe-mail
/ contact-call-nav
%label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Last Activity
%p.tx-13.mg-b-0 Gambler, Tea Drinker, Ultimate Piggie, Replacement President of a Major Soft Drink Manufacturer. When I give out candies, I give people the flavour I don't like.
%hr.mg-y-20/
%label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-15 Options
%nav.nav.flex-column.contact-content-nav.mg-b-25
  %a.nav-link{:href => ""}
    %i.fe.fe-share.pd-r-5
    Share Details
  %a.nav-link{:href => ""}
    %i.fe.fe-edit.pd-r-5
    Edit Role
