.tab-content
  #providerBoards.tab-pane.show.active.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-25
      %h6.mg-b-0 Personal Details
      .d-flex
        %a.btn.btn-sm.btn-white.d-flex.align-items-center.mg-r-5{"data-toggle" => "modal", :href => "#modalEditContact"}
          %i.fe.fe-edit
          %span.d-none.d-sm-inline.mg-l-5 Edit
        %a.btn.btn-sm.btn-white.d-flex.align-items-center{"data-toggle" => "modal", :href => "#modalDeleteContact"}
          %i.fe.fe-trash
          %span.d-none.d-sm-inline.mg-l-5 Delete
    %h6.mg-t-40.mg-b-20 Contact Details
    .row.row-sm
      .col-6.col-sm-4
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Mobile Phone
        %p.tx-primary.tx-rubik.mg-b-0 +1 290 912 3868
      .col-6.col-sm-4
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Home Phone
        %p.tx-primary.tx-rubik.mg-b-0 +1 011 342 3129
      .col-6.col-sm-4.mg-t-20.mg-sm-t-0
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Work Phone
        %p.tx-primary.tx-rubik.mg-b-0 +1 100 003 3344
      .col-sm-4.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Email Address
        %p.tx-primary.mg-b-0 me@themepixels.me
      .col-sm-4.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Company
        %p.mg-b-0 ThemePixels, Inc.
      .col-sm-4.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Job Position
        %p.mg-b-0 President &amp; CEO
      .col-sm-6.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Home Address
        %p.mg-b-0
          4658 Kenwood Place
          %br>/
          Pompano Beach, FL 33060, United States
      .col-sm-6.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Work Address
        %p.mg-b-0
          819 Waldeck Street
          %br>/
          Farmers Branch, TX 75244, United States
      .col-sm-6.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Personal Website
        %p.tx-primary.mg-b-0 http://themepixels.me/
      .col-sm-6.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Social Profiles
        %nav.nav.nav-social
          %a.nav-link{:href => ""}
            %i{"data-feather" => "facebook"}
          %a.nav-link{:href => ""}
            %i{"data-feather" => "twitter"}
          %a.nav-link{:href => ""}
            %i{"data-feather" => "instagram"}
          %a.nav-link{:href => ""}
            %i{"data-feather" => "github"}
      / col
      .col-sm.mg-t-20.mg-sm-t-30
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Notes
        %p.tx-13.mg-b-0 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    / row
  #providerEarnings.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Call &amp; Message Logs
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  / tab-pane
  #providerStatistics.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Call &amp; Message Logs
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  / tab-pane
  #providerInvoices.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Call &amp; Message Logs
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  / tab-pane
/ tab-content
