.col-lg-4.col-xl-8.mg-t-10
    .card
        .card-header.pd-t-20.pd-b-0.bd-b-0
            %h6.mg-b-5
            = t('campaign.invested')
            %p.tx-12.tx-color-03.mg-b-0=t('campaign.invested_on')
            = @campaign.name
        .card-body.pd-20
            .chart-two.-b-20
                = column_chart daily_invested_chart_path(@campaign.slug),  colors: ["#10b759"]
