.col-lg-8.col-xl-12.mg-t-10
  .card.ht-100p
    .card-header.pd-y-20.d-md-flex.align-items-center.justify-content-between
      %h6.mg-b-0.tx-bold
      = t('campaign.impressions')
      %ul.list-inline.d-flex.mg-t-20.mg-sm-t-10.mg-md-t-0.mg-b-0
        %li.list-inline-item.d-flex.align-items-center
    .card-body.pos-relative.pd-0
      .pos-absolute.t-20.l-20.wd-xl-100p.z-index-10
        .row
      .ht-400.ht-lg-200-f.pd-t-10
        = area_chart daily_impressions_chart_path(@campaign.slug, start_date: @date_start, end_date: @date_end), colors: ["#0000FF", "#FF0000", "#00FF00", "#F44611", "#FFFF00", "#FF00FF", "#00FFFF", "#8F00FF", "#FB008F", "#C29B61"], library: { scales: {xAxes: [{ticks: {autoSkipPadding: 15, maxRotation: 0}}]}}, discrete: true, legend: "bottom"
