.col-lg-4.col-xl-8.mg-t-10
    .card
        .card-header.pd-t-20.pd-b-0.bd-b-0
            %h6.mg-b-5.tx-bold
            = t('campaign.invested')
            %p.tx-12.tx-color-03.mg-b-0=t('campaign.invested_on')
            = @campaign.name
        .card-body.pd-20
            .chart-two.-b-20
                = column_chart daily_invested_chart_path(@campaign.slug, start_date: @date_start, end_date: @date_end), id: "daily-invested-chart" ,colors: ["rgb(28, 104, 240)", "rgb(255, 89, 0)", "rgb(43, 214, 123)", "rgb(254, 190, 2)", "rgb(159, 43, 214)", "rgb(255, 107, 107)", "rgb(2, 7, 125)", "rgb(166, 216, 255)"], legend: false, stacked: true, dataset: {borderWidth: 0}
