.col-lg-8.col-xl-12.mg-t-10
  .card.ht-100p
    .card-header.pd-y-20.d-md-flex.align-items-center.justify-content-between
      %h6.mg-b-0.tx-bold
      = t('campaign.impressions')
      %ul.list-inline.d-flex.mg-t-20.mg-sm-t-10.mg-md-t-0.mg-b-0
        %li.list-inline-item.d-flex.align-items-center
    .card-body.pos-relative.pd-0
      .pos-absolute.t-20.l-20.wd-xl-100p.z-index-10
        .row
      .ht-400.ht-lg-300-f.pd-t-10
        = column_chart daily_impressions_chart_path(@campaign.slug, start_date: @date_start, end_date: @date_end), colors: ["rgb(2, 7, 125)", "rgb(4, 33, 186)", "rgb(1, 98, 253)", "rgb(144, 124, 255)", "rgb(133, 182, 255)", "rgb(180, 219, 255)"], library: {scales: {xAxes: [{ticks: {autoSkipPadding: 15, maxRotation: 0}}]}}, discrete: true, legend: "bottom", id: "daily-impressions-chart", stacked: true, dataset: {borderWidth: 0, minBarLength: 1}
